.env.backup
/.vs

!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
*~
.cache
.dynamodb/
.env
.env.test
.eslintcache
.fusebox/
.grunt
.history
.lock-wscript
.netrwhist
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.out
.phpunit.result.cache
.serverless/
.storybook-out
.vim
.vscode/*
.vuepress/dist
.yarn-integrity
/.vagrant
/vendor/
Homestead.json
Homestead.yaml
Session.vim
Sessionx.vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
app/storage/
bootstrap/compiled.php
bower_components
build/Release
composer.phar
coverage
dist/
jspm_packages/
lerna-debug.log*
lib-cov
logs
node_modules/
npm-debug.log
npm-debug.log*
pids
public/hot
public/storage
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
storage/*.key
tags
temp/
tmp/
typings/
yarn-debug.log*
yarn-error.log
yarn-error.log*
